#area{
    background: green;
    color: white;
    width: 200px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
}